@import "tailwindcss";

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropDown {
  animation: dropDown 0.7s ease-out forwards;
}
